<div class="container">
  <div class="row">
    <div class="col-md-5">
      <!--<router-outlet name="recipe-list"></router-outlet>-->
      <app-recipe-list (showRecipe) = "enableRecipeDetails($event)"></app-recipe-list>
    </div>
    <div class="col-md-7">
      <router-outlet name="recipe-detail"></router-outlet>
     <!-- <app-recipe-detail  [recipe]="selectedRecipe" *ngIf="selectedRecipe; else defaultRecipe"></app-recipe-detail>
      <ng-template #defaultRecipe>
          <p>Please Select a Recipe</p>
      </ng-template>-->
   </div>
  </div>
</div>
